In [2]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [6]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                          title  year
0  Parti sans laisser d'adresse  1982
1             Under the Big Top  1938
2         The Guns of Apartheid  2016
3                Midnight Globe  2013
4          A Bridge to a Border  2014

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

### How many movies are listed in the titles dataframe?

In [7]:
len(titles)

221821

0    1982
1    1938
2    2016
3    2013
4    2014
Name: year, dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [31]:
titles.sort('year').head(2)

                                                 title  year
141035                                      Miss Jerry  1894
80940   Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [32]:
t=titles
len(t[t.title=='Hamlet'])

19

AttributeError: 'DataFrame' object has no attribute 'order'

### How many movies are titled "North by Northwest"?

In [33]:
t=titles
len(t[t.title=='North by Northwest'])

1

In [36]:
t[t.title=='North by Northwest']

                    title  year
54617  North by Northwest  1959

### When was the first movie titled "Hamlet" made?

In [41]:
t=titles
t[t.title=='Hamlet'].sort('year').head(1)

         title  year
216896  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [43]:
t=titles
t[t.title=='Hamlet'].sort('year')

         title  year
216896  Hamlet  1910
112064  Hamlet  1911
50509   Hamlet  1913
159062  Hamlet  1921
195290  Hamlet  1948
139881  Hamlet  1954
204184  Hamlet  1964
37981   Hamlet  1969
209124  Hamlet  1973
166422  Hamlet  1976
219197  Hamlet  1987
67382   Hamlet  1990
101066  Hamlet  1996
136416  Hamlet  2000
90441   Hamlet  2009
14503   Hamlet  2011
47143   Hamlet  2014
128986  Hamlet  2015
162831  Hamlet  2016

### How many movies were made in the year 1950?

In [49]:
t=titles
len(t[t.year==1950])

1039

### How many movies were made in the year 1960?

In [50]:
t=titles
len(t[t.year==1960])

1484

### How many movies were made from 1950 through 1959?

In [57]:
t=titles
len(t[(t.year>=1950) & (t.year<1960)])

12238

### In what years has a movie titled "Batman" been released?

In [60]:
t=titles
t[t.title=='Batman'].year

95611     1943
107479    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [61]:
titles.head()

                          title  year
0  Parti sans laisser d'adresse  1982
1             Under the Big Top  1938
2         The Guns of Apartheid  2016
3                Midnight Globe  2013
4          A Bridge to a Border  2014

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [3]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [16]:
c=cast
c[c.title=='Inception']
len(c[(c.n.isnull()) & ( c.title =='Inception')])

25

### But how many roles in the movie "Inception" did receive an "n" value?

In [17]:
c=cast
c[c.title=='Inception']
len(c[(c.n.notnull()) & ( c.title =='Inception')])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [22]:
c=cast
c=c[(c.title =='North by Northwest') & (c.n.notnull())]
c.sort('n')

,title,year,name,type,character,n
805688,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3217624,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1346749,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2895633,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
328996,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2799595,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1567382,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1178073,North by Northwest,1959,Martin Landau,actor,Leonard,8
2259979,North by Northwest,1959,Adam Williams,actor,Valerian,9
1674293,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
615377,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2120147,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
428872,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1394555,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
189502,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1279603,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [23]:
c=cast
c=c[(c.title =='Sleuth') & (c.year == 1972)]
c.sort('n')

,title,year,name,type,character,n
1576605,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
301244,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
344976,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1354336,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2509652,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1339011,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [24]:
c=cast
c=c[(c.title =='Sleuth') & (c.year == 2007)]
c.sort('n')

          title  year                 name     type          character   n
301245   Sleuth  2007        Michael Caine    actor             Andrew   1
1195195  Sleuth  2007             Jude Law    actor               Milo   2
1669276  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
239288   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
344977   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2509651  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
3086166  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

len(c[(c.title =='Hamlet') & (c.year == 1921) & c.name.notnull())

In [28]:
c=cast
len(c[(c.title =='Hamlet') & (c.year == 1921)])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?